:root {
    --primary-color: #0705B7; /* rgb(7, 5, 183) */
    --bgr-color: #021632; /* rgb(2, 22, 50) */
    --text-color: #ccc; /* rgb(170,0, 204) */
    --white-color: #fff;
    --black-color: #000;
}